# ignore all compiled files
*.log
*.o
main
test

# ignore files that cant be modified
bmp.c
bmp.h
main_iplib.c
test_bmp.c

runner_gauss.sh
runner_noise.sh

ip_lib.h


# ignore images
*.bmp

# ignore extra files
LICENSE


